.header-T {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    align-items: center;
}
.header-T .header-r span{
    margin: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1 {
    color: red;
    margin: 0;
    font-size: 40px;
}
.nav ul {
    display: inline-flex;
    list-style: none;
    margin-top: 0;
    padding: 0;

}
.nav ul li {
    padding-left: 15px;
    padding-right: 15px;
}
.nav ul a {
    cursor: pointer;
    text-decoration: none;
    color: blueviolet;
}
.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
}
.nav .nav-search{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
    margin-top: 5px;
}
.nav .nav-search button {
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-left: 0px;
}
h1 a{
    text-decoration: none;
    color: blueviolet;
}
.suggested-result{
    width: 300px;
    top: 39px;
    position: absolute;
    display: list-item !important;
    z-index: 10;
    border: 1px solid #ddd;
    background-color: #fff;
}
.suggested-result li {
    border: 1px solid #ddd;
    padding: 10px;
}
.suggested-result li a {
    cursor: pointer;
    color: blueviolet;
}

