<div class="footer">
        <ul>
                <li><a href="">Become a Seller</a></li>
                <li><a href="">Polices</a></li>
                <li><a href=""></a>terms and Conditions</li>
                <li><a href=""></a>help Center</li>
                <li><a href=""></a>News</li>
                <li><a href=""></a> Facebook</li>
                <li><a href=""></a>Youtuber</li>
                <li><a href=""></a>Sitemap</li>
        </ul>
        <div class="logoP">
                <h6>© 2023 Công ty Trách Nhiệm Hữu Hạn 1 Thành Viên HảiCuBa</h6>
                <!-- <p>Trụ sở chính:
                        <a
                                href="https://www.google.com/maps/place/Singapore/@1.3143379,103.6794402,11z/data=!3m1!4b1!4m6!3m5!1s0x31da11238a8b9375:0x887869cf52abf5c4!8m2!3d1.352083!4d103.819836!16zL20vMDZ0MnQ">
                                Clickhere!</a>
                </p> -->
        </div>
</div>